{{ "<!-- FOOTER -->" | safeHTML }}
<section class="bg-grey-dark text-white " id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4" >
                    <ul class="footer-nav">
                    {{ range .Site.Params.footer.nav }}
                        <li>
                            <a href="{{.url}}"><h5>{{.name}}</h5></a>
                        </li>
                    {{end }}
                    </ul>
                </div>
                <div class="col-lg-4">
                    
{{`{{form}}`}}
                 

                

                    
                    <h3>Contáctanos</h3>
                    <form action="//formspree.io/your@email.com" method="POST" name="sentMessage" id="contactForm" class="has-validation-callback disabled-with-errors">
                        <fieldset>
                            <div class="row">
                
                                <div class="form-group">
                                    <h5>Nombre</h5>
                                    <input class="form-control" id="name" required="required" type="text" name="name" placeholder="Nombre" data-validation-error-msg="Please enter your name." data-validation="required" data-validation-event="keyup change">
                                </div>
                                <div class="form-group">
                                    <h5>Email</h5>
                                    <input class="form-control" id="email" required="required" type="email" name="email" placeholder="Email" data-validation-error-msg="Please enter your email address." data-validation="required email" data-validation-event="keyup change">
                                </div>
                                <div class="form-group">
                                    <h5>Asunto</h5>
                                    <input class="form-control" id="phone" required="required" type="text" name="subject" placeholder="Asunto" data-validation-error-msg="Please enter your phone number." data-validation="required number" data-validation-allowing="undefined,float,negative" data-validation-event="keyup change">
                                </div>
                                    <div class="form-group">
                                    <h5>Mensaje</h5>
                                    <textarea class="form-control" id="message" required="required" name="message" placeholder="Mensaje" data-validation-error-msg="Please enter a message." data-validation="required" data-validation-event="keyup change"></textarea>
                                </div>
                                <button type="submit" value="Submit" class="btn btn-primary btn-right btn-xl page-scroll">Enviar</button>
                            </div>
                        </fieldset>
                    </form>
                </div>      
                <div class="col-lg-4">
                    <div class="footer-info">
                        <h3>Dirección</h3>
                        <p>Ciudad de Panamá</p>
                        <br>
                        <h3>Contacto</h3>
                        <p>cclpanamacity@gmail.com</p>
                        <br>
                        <h3>Social</h3>
                        <div class="socials">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <div class="row footer-terms">
           <div class="col-lg-8">
               ©2016 Citizens' Climate Lobby
            </div>
            <div class="col-lg-2">
                Privacy Policy
            </div>
            <div class="col-lg-2">
                Terms of Service
             </div>
        </div>
    </div>
</section>
