{{ "<!-- FOOTER -->" | safeHTML }}
<section class="bg-grey-dark text-white text-left" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-4" >
                        <h4>Nosotros</h4>
                        <br>
                        <h4>Voluntarios</h4>
                         <br>
                        <h4>Tarifas de carbono</h4>
                         <br>
                        <h4>Sitio en Ingles</h4>
                         <br>
                        <h4>Sitio oficial</h4>
                         <br>
                        <h4>Unete</h4>
                </div>
                <div class="col-lg-4">
                    <h4>Contáctanos</h4>
                    <form action="//formspree.io/your@email.com" method="POST" name="sentMessage" id="contactForm" class="has-validation-callback disabled-with-errors">
                        <fieldset>
                            <div class="row">
                               
                                <div class="form-group">
                                    <h5>Nombre</h5>
                                    <input class="form-control" id="name" required="required" type="text" name="name" placeholder="Your Name *" data-validation-error-msg="Please enter your name." data-validation="required" data-validation-event="keyup change">
                                </div>
                                <div class="form-group">
                                    <h5>Email</h5>
                                    <input class="form-control" id="email" required="required" type="email" name="email" placeholder="Your Email *" data-validation-error-msg="Please enter your email address." data-validation="required email" data-validation-event="keyup change">
                                </div>
                                <div class="form-group">
                                    <h5>Asunto</h5>
                                    <input class="form-control" id="phone" required="required" type="number" name="phone" placeholder="Your Phone *" data-validation-error-msg="Please enter your phone number." data-validation="required number" data-validation-allowing="undefined,float,negative" data-validation-event="keyup change">
                                </div>
                                    <div class="form-group">
                                    <h5>Mensaje</h5>
                                    <textarea class="form-control" id="message" required="required" name="message" placeholder="Your Message *" data-validation-error-msg="Please enter a message." data-validation="required" data-validation-event="keyup change"></textarea>
                                </div>
                                <button type="submit" value="Submit" class="btn btn-xl">Send message</button>
                            </div>
                        </fieldset>
                    </form>
                </div>      
                <div class="col-lg-4">
                    <h3>Direccion</h3>
                    <h5>Voluntarios</h5>
                    <br>
                    <h3>Contacto</h3>
                    <h5>Voluntarios</h5>
                    <br>
                    <h3>Social</h3>
                    <div class="socials">

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
        </div>

    </div>
</section>
