{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            {{ if .Site.Params.navigation.logo }}
            <a class="page-scroll" href="{{ if .IsHome }}/#page-top{{ else }}{{ .Site.BaseURL }}{{ end }}">
                {{ $url := printf "img/nav/%s" .Site.Params.navigation.logo }}
                <img src="{{ $url | absURL }}" class="img-responsive" alt="{{ .Site.Params.navigation.brand }}">
            </a>
            {{ end }}
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           
                <ul class="nav navbar-nav">
                    {{ range .Site.Params.navigation.main }}
                    <li>
                        <a href="{{ .url }}">{{ .name | markdownify }}</a>
                    </li>
                    {{ end }}
                </ul>
                
                
                <ul class="nav nav-menu">
                    
                    {{ range .Site.Params.navigation.secundary }}
                    <li class="navbar-border">
                        <a href="{{ .url }}">{{ .name | markdownify }}</a>
                    </li>
                    {{ end }}
                    
                </ul>
            
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
