<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        <section>
        {{ partial "nav.html" . }}
        </section>

        {{ if .Site.Params.hero }}
            {{ partial "hero.html" . }}
        {{ end }}

        {{ if .Site.Params.about }}
            {{ partial "about.html" . }}
        {{ end }}

        {{ partial "testimonials.html" . }}

        {{ partial "video.html" . }}

        {{ partial "socials.html" . }}

        {{ partial "footer.html" . }}

        {{ partial "js.html" . }}
    </body>
</html>
