<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ partial "nav.html" . }}

        <section id="content">
            <div class="container">

                <div class="row">

                    <div class="col-md-12">
                        {{ .Title}}
                        <div>
                            {{ range .Data.Pages }}
                                {{.Title}}
                                {{.Content}}
                            {{ end }}
                        </div>

                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </section>
        <!-- /#content -->
        
        
        {{ partial "footer.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
